src/by/nareiko/xml/parser/papers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="papers" type="papersType"/>
  <xs:complexType name="magazineType">
    <xs:sequence>
      <xs:element name="title">
        <xs:simpleType>
          <xs:restriction base="xs:string">
<xs:pattern value="([a-z][A-Z][0-9])+"/>
            <!--
            <xs:enumeration value="Fashion"/>
            <xs:enumeration value="Clothes"/>
            <xs:enumeration value="Real Motors"/>
            <xs:enumeration value="Chronics"/>
            <xs:enumeration value="Minsk News"/>
            <xs:enumeration value="Daily life"/>
            <xs:enumeration value="Fast cooking"/>
            <xs:enumeration value="Doors"/>
            <xs:enumeration value="Cosmetics"/>
            -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="periodical">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="monthly|weekly"/>
           <!--
           <xs:enumeration value="monthly"/>
            <xs:enumeration value="weekly"/>
            -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="isColour">
        <xs:simpleType>
          <xs:restriction base="xs:boolean">
            <xs:pattern value="true|false"/>
            <!--
             <xs:enumeration value="true"/>
             <xs:enumeration value="false"/>
             -->
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
       <xs:element name="volume">
         <xs:simpleType>
           <xs:restriction base="xs:integer">
             <xs:pattern value="[0-9]+"/>
             <!--
             <xs:enumeration value="45"/>
             <xs:enumeration value="80"/>
             <xs:enumeration value="100"/>
             <xs:enumeration value="14"/>
             <xs:enumeration value="20"/>
             <xs:enumeration value="12"/>
             <xs:enumeration value="8"/>
             <xs:enumeration value="10"/>
             -->
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
       <xs:element name="isGlossy">
         <xs:simpleType>
           <xs:restriction base="xs:boolean">
             <xs:pattern value="true|false"/>
             <!--
              <xs:enumeration value="true"/>
              <xs:enumeration value="false"/>
              -->
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
       <xs:element name="subscription">
         <xs:simpleType>
           <xs:restriction base="xs:boolean">
             <xs:pattern value="true|false"/>
             <!--
              <xs:enumeration value="true"/>
              <xs:enumeration value="false"/>
              -->
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
      <xs:element name="publishingDate">
        <xs:simpleType>
          <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4}[-]{1}[0-9]{2}[-]{1}[0-9]{2}"/>
            <!--
            <xs:enumeration value="2020-05-20"/>
            <xs:enumeration value="2019-12-20"/>
            <xs:enumeration value="2020-03-06"/>
            <xs:enumeration value="2020-04-20"/>
            <xs:enumeration value="2019-10-17"/>
            <xs:enumeration value="2020-05-12"/>
            <xs:enumeration value="2020-05-19"/>
            <xs:enumeration value="2020-01-20"/>
            <xs:enumeration value="2020-02-07"/>
            -->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
     </xs:sequence>
     <xs:attribute type="xs:string" name="serialNumber" use="required"/>
   </xs:complexType>
   <xs:complexType name="newspaperType">
     <xs:sequence>
       <xs:element name="title">
         <xs:simpleType>
           <xs:restriction base="xs:string">
             <xs:pattern value="([a-z][A-Z][0-9])+"/>
             <!--
             <xs:enumeration value="Chronics"/>
             <xs:enumeration value="Minsk News"/>
             <xs:enumeration value="Daily life"/>
             <xs:enumeration value="Fast cooking"/>
             <xs:enumeration value="Doors"/>
             <xs:enumeration value="Cosmetics"/>
             <xs:enumeration value="Fashion"/>
             <xs:enumeration value="Clothes"/>
             <xs:enumeration value="Real Motors"/>
             -->
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
       <xs:element name="periodical">
         <xs:simpleType>
           <xs:restriction base="xs:string">
             <xs:pattern value="monthly|weekly"/>
             <!--
             <xs:enumeration value="weekly"/>
             <xs:enumeration value="monthly"/>
             -->
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
       <xs:element name="isColour">
         <xs:simpleType>
           <xs:restriction base="xs:boolean">
             <xs:pattern value="true|false"/>
             <!--
             <xs:enumeration value="false"/>
             <xs:enumeration value="true"/>
             -->
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
       <xs:element name="volume">
         <xs:simpleType>
           <xs:restriction base="xs:integer">
             <xs:pattern value="[0-9]+"/>
             <!--
             <xs:enumeration value="14"/>
             <xs:enumeration value="20"/>
             <xs:enumeration value="12"/>
             <xs:enumeration value="8"/>
             <xs:enumeration value="10"/>
             <xs:enumeration value="45"/>
             <xs:enumeration value="80"/>
             <xs:enumeration value="100"/>
             -->
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
       <xs:element name="isGlossy">
         <xs:simpleType>
           <xs:restriction base="xs:boolean">
             <xs:pattern value="true|false"/>
             <!--
             <xs:enumeration value="false"/>
             <xs:enumeration value="true"/>
             -->
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
       <xs:element name="subscription">
         <xs:simpleType>
           <xs:restriction base="xs:boolean">
             <xs:pattern value="true|false"/>
             <!--
             <xs:enumeration value="false"/>
             <xs:enumeration value="true"/>
             -->
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
       <xs:element name="publishingDate">
         <xs:simpleType>
           <xs:restriction base="xs:date">
             <xs:pattern value="[0-9]{4}[-]{1}[0-9]{2}[-]{1}[0-9]{2}"/>
             <!--
             <xs:enumeration value="2020-05-20"/>
             <xs:enumeration value="2019-12-20"/>
             <xs:enumeration value="2020-03-06"/>
             <xs:enumeration value="2020-04-20"/>
             <xs:enumeration value="2019-10-17"/>
             <xs:enumeration value="2020-05-12"/>
             <xs:enumeration value="2020-05-19"/>
             <xs:enumeration value="2020-01-20"/>
             <xs:enumeration value="2020-02-07"/>
             -->
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
     </xs:sequence>
     <xs:attribute type="xs:string" name="serialNumber" use="required"/>
   </xs:complexType>
   <xs:complexType name="bookletType">
     <xs:sequence>
       <xs:element name="title">
         <xs:simpleType>
           <xs:restriction base="xs:string">
             <xs:pattern value="([a-z][A-Z][0-9])*"/>
             <!--
             <xs:enumeration value="Fast cooking"/>
             <xs:enumeration value="Doors"/>
             <xs:enumeration value="Cosmetics"/>
             <xs:enumeration value="Fashion"/>
             <xs:enumeration value="Clothes"/>
             <xs:enumeration value="Real Motors"/>
             <xs:enumeration value="Chronics"/>
             <xs:enumeration value="Minsk News"/>
             <xs:enumeration value="Daily life"/>
             -->
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
       <xs:element name="periodical">
         <xs:simpleType>
           <xs:restriction base="xs:string">
             <xs:pattern value="monthly|weekly"/>
             <!--
             <xs:enumeration value="monthly"/>
             <xs:enumeration value="weekly"/>
             -->
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
       <xs:element name="isColour">
         <xs:simpleType>
           <xs:restriction base="xs:boolean">
             <xs:pattern value="true|false"/>
             <!--
             <xs:enumeration value="false"/>
             <xs:enumeration value="true"/>
             -->
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
       <xs:element name="volume">
         <xs:simpleType>
           <xs:restriction base="xs:integer">
             <xs:pattern value="[0-9]+"/>
             <!--
             <xs:enumeration value="8"/>
             <xs:enumeration value="10"/>
             <xs:enumeration value="20"/>
             <xs:enumeration value="45"/>
             <xs:enumeration value="80"/>
             <xs:enumeration value="100"/>
             <xs:enumeration value="14"/>
             <xs:enumeration value="12"/>
             -->
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
       <xs:element name="isGlossy">
         <xs:simpleType>
           <xs:restriction base="xs:boolean">
             <xs:pattern value="true|false"/>
             <!--
             <xs:enumeration value="false"/>
             <xs:enumeration value="true"/>
             -->
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
       <xs:element name="subscription">
         <xs:simpleType>
           <xs:restriction base="xs:boolean">
             <xs:pattern value="true|false"/>
             <!--
             <xs:enumeration value="false"/>
             <xs:enumeration value="true"/>
             -->
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
       <xs:element name="publishingDate">
         <xs:simpleType>
           <xs:restriction base="xs:date">
             <xs:pattern value="[0-9]{4}[-]{1}[0-9]{2}[-]{1}[0-9]{2}"/>
             <!--
             <xs:enumeration value="2020-05-20"/>
             <xs:enumeration value="2019-12-20"/>
             <xs:enumeration value="2020-03-06"/>
             <xs:enumeration value="2020-04-20"/>
             <xs:enumeration value="2019-10-17"/>
             <xs:enumeration value="2020-05-12"/>
             <xs:enumeration value="2020-05-19"/>
             <xs:enumeration value="2020-01-20"/>
             <xs:enumeration value="2020-02-07"/>
             -->
           </xs:restriction>
         </xs:simpleType>
       </xs:element>
     </xs:sequence>
     <xs:attribute type="xs:string" name="serialNumber" use="required"/>
   </xs:complexType>
   <xs:complexType name="papersType">
     <xs:choice maxOccurs="unbounded" minOccurs="0">
       <xs:element type="magazineType" name="magazine"/>
       <xs:element type="newspaperType" name="newspaper"/>
       <xs:element type="bookletType" name="booklet"/>
     </xs:choice>
   </xs:complexType>
 </xs:schema>